$main-blue: #0039a6;
$bg-color: #ebecf2;
$white: #fff;
$light-gray: #f2f2f2;
$contact-links: #fcf7f9;
$medium-gray: #dddbd8;
$dark-gray: #776f65;
$main-color: #776f65;
$contact-icon: rgb(39, 1, 110);
$contact-hover: rgb(175, 153, 168);
$underline-color: rgb(39, 1, 110);